form {
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 1px solid grey;
  box-shadow: 0 0 10px grey;
  border-radius: 1.5em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 90px;
  text-align: right;
}

input, 
textarea {
  font: 1em 'Lucida Sans', sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid gray;
  border-radius: .4em;
}

input:focus, 
textarea:focus {
  border-color: grey;
}

textarea {
  vertical-align: top;
  height: 5em;
}

.button {
  padding-left: 90px;
}

button {
  margin-left: .2rem;
  background-color: rgb(252, 247, 238);
  border-radius: .4rem;
  font: .8rem 'Lucida Sans', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#feedback { 
  margin: 2rem;
  box-shadow: 0 0 15px grey;
  background-color: rgb(252, 247, 238);
  padding: 1rem;
  display: none;
 }