header {
    background-color: rgb(223, 212, 150);
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    padding: 32px;
}

h1 {
    font-size: 2.5
}

h2 {
    font-size: 1.5;
}

header, footer {
    border-radius: 16px;
}

.portrait {
    box-shadow: 2.5px 2.5px 30px black;
    border-top-right-radius: 16px;
    float: right;
    width: 250px;
}

body {
    padding: 20px;
}

img {
    max-width: 100%;
    display: block;
  }

h1 {
    color: rgb(92, 83, 83);
    font-size: 1.0;
}

h2 {
    color: rgb(92, 83, 83);
    font-size: 0.5;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.portrait {
    width: 150px;
    height: auto;
}

main {
    padding: 32px;
    font-size: 1.3em;
    font-family: 'Open Sans', sans-serif;
}

footer {
    background-color: rgb(223, 212, 150);
    font-size: 1.2em;
    text-align: center;
    padding: 28px;
    font-family: 'Open Sans', sans-serif;
}