body {
  font-size: 16px;
  background-color: #fff;
  margin: 30px;
  font-family: 'Courier New', Courier, monospace
}

/* Layout 1 */
.content1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  grid-gap: 20px;
  max-width: 592px;
}

.red1 {
  width: 100%;
  height: 100px;
  background-color: red;
  grid-column: 1/3;
}

.green1 {
  width: 200px;
  height: 200px;
  background-color: green;
}

.gold1 {
  width: 200px;
  height: 200px;
  background-color: gold;
}

.blue1 {
  width: 100%;
  height: 100px;
  background-color: blue;
  grid-column: 1/3;
}

/* Layout 2 */
.content2 {
  position: relative;
}

.red2 {
  width: 100px;
  height: 100px;
  background-color: red;
  position: absolute;
  top: 50px;
  left: 100px;
}

.green2 {
  width: 100px;
  height: 100px;
  background-color: green;
  position: absolute;
  top: 100px;
  left: 150px;
}

.gold2 {
  width: 100px;
  height: 100px;
  background-color: gold;
  position: absolute;
  top: 150px;
  left: 200px;
}

.blue2 {
  width: 100px;
  height: 100px;
  background-color: blue;
  position: absolute;
  top: 200px;
  left: 250px;
}

/* Layout 3 */
.content3 {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0px 100px;
}

.red3 {
  width: 100%;
  height: 100px;
  background-color: red;
  grid-column: 1/3;
}

.green3 {
  width: 100%;
  height: 280px;
  background-color: green;
}

.gold3 {
  width: 100%;
  height: 280px;
  background-color: gold;
}

.blue3 {
  width: 100%;
  height: 100px;
  background-color: blue;
  grid-column: 1/3;
}

/* Layout 4 */
.content4 {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0px;
}

.red4 {
  width: 550px;
  height: 660px;
  background-color: red;
  grid-column: 1/3;
}

.green4 {
  width: 50%;
  height: 220px;
  background-color: green;
  position: absolute;
  left: 550px;
  top: 0px;
}

.gold4 {
  width: 50%;
  height: 220px;
  background-color: gold;
  position: absolute;
  left: 550px;
  top: 220px;
}

.blue4 {
  width: 50%;
  height: 220px;
  background-color: blue;
  grid-column: 1/3;
  position: absolute;
  left: 550px;
  top: 440px;
}

/* Layout 5 */
.content5 {
  position: relative;
}

.red5 {
  width: 100%;
  height: 160px;
  background-color: red;
}

.green5 {
  width: 250px;
  height: 280px;
  background-color: green;
  float: left;
  margin: 0px 10px 10px 0;
}

.gold5 {
  width: 100%;
  height: 380px;
  background-color: gold;
  padding: 10px 0 10px 0;
}

.blue5 {
  width: 100%;
  height: 160px;
  background-color: blue;
}

/* Layout 6 */
.content6 {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  grid-gap: 20px;
}

.red6 {
  width: 500px;
  height: 200px;
  background-color: red;
  z-index: 1;
  position: absolute;
  left: 10px;
}

.green6 {
  width: 250px;
  height: 250px;
  background-color: green;
  z-index: 3;
  position: absolute;
  top: 450px;
  left: 10px;
}

.gold6 {
  width: 250px;
  height: 500px;
  background-color: gold;
  z-index: 3;
  position: absolute;
  left: 510px;
  top: 200px;
}

.blue6 {
  width: 510px;
  height: 510px;
  background-color: blue;
  z-index: 2;
  position: absolute;
  left: 125px;
  top: 100px;
}