header{
    font-size: 1em;
    font-family: 'Goudy Bookletter 1911', serif;
    text-align: center;
}

header h1 {
    background-color: rgb(100, 179, 184);
    color: rgb(63, 61, 61);
    font-size: 3.2rem;
    padding: 40px;
    margin: 0px;
}

header h2 {
    background-color: rgb(219, 233, 243);
    color: rgb(63, 61, 61);
    font-size: 2rem;
    padding: 20px;
    margin: 0px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
  }

.img {
    width: 210px;
    height: auto;
    display: block;
    margin: 0 auto;
}

main {
    padding: 32px;
    font-size: 1.3em;
    font-family: 'Didact Gothic', sans-serif;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: 1fr;
}

main section {
    padding: 1em;
    background-color: rgb(238, 237, 237);
    box-shadow: 0 8px 10px 0 rgb(238, 237, 237);
}

footer {
    background-color: rgb(148, 200, 202);
    font-size: 1em;
    text-align: center;
    padding: 28px;
    font-family: 'Didact Gothic', sans-serif;
}