header {
    background-color: rgb(148, 200, 202);
    font-size: 1em;
    font-family: 'Goudy Bookletter 1911', serif;
    text-align: center;
    padding: 32px;
}

img {
    max-width: 100%;
    display: block;
  }

h1 {
    color: rgb(63, 61, 61);
    font-size: 3.2rem;
}

h2 {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    margin: 0;
}

.img {
    width: 210px;
    height: auto;
}

main {
    padding: 32px;
    font-size: 1.3em;
    font-family: 'Didact Gothic', sans-serif;
}

.main-content {
    display: grid;
    grid-template-columns: 1fr;
}

footer {
    background-color: rgb(148, 200, 202);
    font-size: 1em;
    text-align: center;
    padding: 28px;
    font-family: 'Didact Gothic', sans-serif;
}