header {
    background-color: rgb(97, 23, 23);
    box-shadow: 2.5px 2.5px 4px black;
    font-size: 1.5em;
    text-align: left;
    padding: 50px;
}

main {
    display: grid;
    column-gap: 100px;
    font-size: 0.8rem;
    padding: 50px;
}

.principles {
    grid-template-columns: 1fr;
}

footer {
    padding: 50px;
    background-color: rgb(97, 23, 23);
    color: rgb(233, 223, 223);
    box-shadow: 2.5px 2.5px 4px black;
    font-size: 1.2em;
    font-family: 'Abel', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    color: rgb(248, 248, 248);
    font-family: 'Charmonman', cursive;
}

h2 {
    color:  rgb(97, 23, 23);
    font-size: 2.8em;
    font-family: 'Abel', sans-serif;
}

h3 {
    color:  rgb(97, 23, 23);
    font-size: 2em;
    font-family: 'Abel', sans-serif;
}

p {
    font-family: 'Abel', sans-serif;
    color: black;
    font-size: 1.6em;
    text-align: justify;
}

a {
    color: rosybrown;
}


.picture {
    width: 100%;
    height: auto;
    border: 7px solid rgb(199, 196, 196);
}