body {
    padding: 0;
    margin: 0;
}

header {
    background: #EDF2F4;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .logo {
    width: 100px;
    height: auto;
}

.title {
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Abel', sans-serif;
    font-size: 1.8em;
    color: rgb(68, 65, 65);
    margin: 0 0 0 10px;
}

.motto {
    font-family: 'Charmonman', cursive;
    font-size: 1em;
    color: rgb(159, 182, 179);
    margin: 3px 0px 20px 10px; 
}

nav {
    margin: 0 auto;
    background-color: rgb(159, 182, 179);
}

.nav-bar {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.nav-bar li:first-child {
    display: block;
}

.nav-bar li {
    display: none;
}

.nav-bar a {
    display: block;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
}

a:hover {
    background-color: black;
    color: white;
    transition: 1s;
}

main section {
    padding: 40px;
    margin: 45px 0px;
    border: 10px;
    border-style: groove;
}

footer {
    background: #EDF2F4;
    font-family: 'Abel', sans-serif;
    height: 100px;
    width: 100%;
    color: #495057;
    font-size: .8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*Responsive Menu*/
.responsive li {
    display: block;
}