@import url("https://fonts.googleapis.com/css?family=Bangers|News+Cycle&display=swap");
:root {
  --primary-color: #7c7979;
  --secondary-color: #bbaa93;
  --accent1-color: #e0d7d7;
  --accent2-color: #423328;
  --heading-font: Bangers;
  --paragraph-font: "News Cycle", verdana, sans-serif;
}

body {
  background-color: var(--secondary-color);
  font-size: 16px;
}

header,
nav,
main,
footer {
  max-width: 960px;
  margin: 0 auto;
}

header {
  background-color: var(--secondary-color);
  padding: 10px;
  display: flex;
  align-items:center;
	justify-content:center;
}

header img {
  width: 140px;
  height: auto;
}

.heading {
  margin: 0 0 0 30px;
  flex-direction: column;
  font-size: 3rem;
	color: var(--accent2-color);
}

.motto {
  margin: 0 0 0 30px;
  letter-spacing: 1.2pt;
  font-size: 2rem;
	font-style: italic; 
  color: var(--accent1-color);
}

h1 {
  font-size: 3rem;
  font-family: "bangers";
  text-align: left;
  color: var(--accent2-color);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: var(--primary-color);
  font-family: "News Cycle";
  font-size: 1rem;
}

li a {
  display: block;
  color: var(--accent1-color);
  text-align: center;
  float: left;
  padding: 0 0 0 150px;
  text-decoration: none;
}

#banner {
  margin: 5px 0 0 0;
  border: 4px solid var(--accent2-color);
}

h2 {
  font-family: "bangers";
  font-size: 2rem;
  color: var(--accent2-color);
}

p {
  font-family: "News Cycle";
  font-size: 1.4rem;
}

img.main{
  border: 4px solid var(--accent2-color);
}

footer {
  list-style-type: none;
  margin: 85px;
  padding: 5px 5px 0px 5px;
  overflow: hidden;
  background-color: var(--primary-color);
  font-family: "News Cycle";
  font-size: 1.2rem;
  color: var(--accent1-color);
}

div.social {
  float: right;
}
