@import url("https://fonts.googleapis.com/css?family=Bangers|News+Cycle&display=swap");
:root {
  --primary-color: #141313;
  --secondary-color: #bbaa93;
  --accent1-color: #223623;
  --accent2-color: #241d19;
  --heading-font: Bangers;
  --paragraph-font: "News Cycle", verdana, sans-serif;
}

body {
  background-color: var(--secondary-color);
  font-size: 16px;
}

header,
nav,
main,
footer {
  max-width: 960px;
  margin: 0 auto;
}

header {
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

header img {
  width: 120px;
  height: auto;
}

.heading {
  margin: 30px 0 0 30px;
  flex-direction: column;
  font-size: 3.2rem;
  color: var(--accent2-color);
}

.motto {
  margin: 0 0 30px 30px;
  letter-spacing: 1.2pt;
  font-size: 2rem;
  font-style: italic;
  color: var(--accent1-color);
}

h1 {
  font-size: 3rem;
  font-family: "bangers";
  text-align: left;
  color: var(--accent2-color);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--accent1-color);
  font-family: "News Cycle";
  font-size: 1.2rem;
  display: flex;
}

li {
  flex: 1 1 auto;
}

li a {
  display: block;
  color: var(--secondary-color);
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

li a:hover {
  background-color: var(--primary-color);
}

.banner-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.banner-box img {
  width: 100%;
  height: auto;
  grid-column: 1 / -1; /* the -1 is just a fancy way to say "span all the columns" */
  grid-row: 1;
}

.action {
  grid-column: 1;
  grid-row: 1;
  background-color: rgba(240, 240, 240, 0.5);
  margin: 1em 3em;
  padding: 0.5em;
  text-align: center;
  font-family: "News Cycle";
}

.action button {
  line-height: 1.8em;
  width: 10em;
  background-color: rgb(190, 171, 63);
  font-size: 1.2em;
  font-family: "News Cycle";
  text-decoration: none;
}

.home-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 22px;
}

.home-headline-1 {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.home-paragraph-1 {
  grid-column: 2 / 4;
  grid-row: 2 / 4;
}

.home-right-img {
  grid-column: 4 / 6;
  grid-row: 1 / 3;
  border: 2px solid var(--accent2-color);
  padding: 10px;
  box-shadow: 5px 5px 5px var(--accent2-color);
}

.home-headline-2 {
  grid-column: 3 / 6;
  grid-row: 4 / 5;
}

.home-paragraph-2 {
  grid-column: 4 / 6;
  grid-row: 5 / 7;
}

.home-left-img {
  grid-column: 1 / 3;
  grid-row: 4 / 6;
  border: 2px solid var(--accent2-color);
  padding: 10px;
  box-shadow: 5px 5px 5px var(--accent2-color);
}

.home-paragraph-3 {
  text-align: center;
  grid-column: 1 / 6;
  grid-row: 7 / 8;
}

/*Places Webpage*/

.rivers-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.rivers-title {
  text-align: left;
  grid-column: 1 / 1;
}

.rivers-sub {
  text-align: left;
  grid-column: 1 / 1;
  margin: 10px 0;
}

.rivers-p {
  text-align: justify;
  grid-column: 1 / 1;
  font-size: 1.2rem;
}

.river-image {
  width: 99%;
  height: 349px;
  text-align: right;
  grid-column: 2 / 2;
  border: 2px solid var(--accent2-color);
  box-shadow: 0 5px 5px var(--accent2-color);
}

.dropbtn {
  background-color: var(--accent1-color);
  color: var(--secondary-color);
  padding: 16px 192px;
  font-size: 1.2em;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  grid-column: 2 / 3;
  grid-row: 2 / 2;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--secondary-color);
  min-width: 100%;
  overflow: auto;
  box-shadow: 0 5px 5px var(--accent2-color);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 18px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: var(--primary-color);
}

/*Blog Webpage*/

.blog-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.blog-title {
  text-align: left;
  grid-column: 1 / 2;
}

.blog-sub {
  text-align: left;
  grid-column: 1 / 2;
  margin: 10px 0;
}

.blog-p {
  text-align: justify;
  grid-column: 1 / 4;
  font-size: 1.2rem;
}

.blog-list {
  grid-column: 1 / 2;
  font-size: 1.2rem;
}

div.blog-img {
  width: 100%;
  height: 252px;
  grid-column: 2 / 4;
  border: 2px solid var(--accent2-color);
  box-shadow: 0 5px 5px var(--accent2-color);
}

/*Contact Webpage*/

.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.contact-title {
  text-align: left;
  grid-column: 1 / 2;
}

.form {
  text-align: left;
  grid-column: 1 / 2;
  font-size: 1.2rem;
  font-family: "News Cycle";
}

.fields {
  text-align: left;
  grid-column: 2 / 3;
  font-size: 1.2rem;
  font-family: "News Cycle";
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-size: 1rem;
  font-family: "News Cycle";
}

input[type=submit] {
  background-color: var(--accent1-color);
  color: var(--secondary-color);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-family: "News Cycle";
}

input[type=submit]:hover {
  background-color: var(--primary-color);
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/*General Style*/

h2 {
  font-family: "bangers";
  font-size: 2.5rem;
  color: var(--accent2-color);
}

h3 {
  font-family: "bangers";
  font-size: 1.6rem;
  color: var(--accent2-color);
}

p {
  font-family: "News Cycle";
  font-size: 1.4rem;
  line-height: normal;
}

ol {
  font-family: "News Cycle";
  font-size: 1.4rem;
  line-height: normal;
}

.form {
  font-family: "News Cycle";
  font-size: 1.4rem;
  line-height: normal;
}

img.main {
  width: 100%;
  height: auto;
}

.blog-img {
  width: 65%;
  height: auto;
}

/*Footer*/

footer {
  list-style-type: none;
  overflow: hidden;
  background-color: var(--accent1-color);
  color: var(--secondary-color);
  font-family: "News Cycle";
  font-size: 1.2rem;
  display: flex;
}

div.foot {
  padding: 10px 0 0 25px;
}

div.social {
  padding: 10px 0 4px 420px;
}

@media screen and (max-width: 550px) {
  .home-grid {
    display: block;
  }
}
