* {
  margin: 0;
  padding: 0;
}

.title {
  padding: 2rem;
}

.title,
.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  border-radius: 4px;
}

picture img[data-src] {
  filter: blur(0.2em);
}

picture img {
  filter: blur(0em);
  transition: filter 0.5s;
}
