* {
  margin: 0;
  padding: 0;
}

article img[data-src] {
  filter: blur(0.2em);
}

article img {
  filter: blur(0em);
  transition: filter 0.5s;
}

.title {
  padding: 2rem;
}

.title,
.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

