* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

aside {
    display: none;
    padding: 25px;
    align-items: center;
    justify-content: center;
    font-family: 'Rajdhani', sans-serif;
    background-color: rgb(238, 238, 238);
}

html {
    background-color: #FAFAD2;
}

body {
    font-size: 16px;
}

header {
    background-color: #F1D166;
    display: flex;
    align-items: center;
    justify-content: center;
}

header picture img {
    width: 85%;
    height: auto;
}

#page-title {
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 20px;
}

.page-motto {
    font-size: 1.4rem;
    font-family: 'Caveat', cursive;
}

h1 {
    font-size: 2rem;
    font-family: 'Rajdhani', sans-serif;
    margin: 0;
}

h2 {
    font-size: 1.8rem;
    padding: 14px;
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
}

h3 {
    padding: 10px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.4rem;
}

p {
    padding: 10px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1rem;
}

table {
    padding: 10px;
    margin: 0 auto;
}

th, tr, td {
    border: 2px solid rgb(49, 36, 6);
    padding: 20px;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
}

nav {
    background-color: #C2C2C2;
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
    margin: 0 auto;
}

.nav-bar li:first-child {
	display: block;
}

.nav-bar li {
	display: none;
}

.responsive li {
    display: block;
}

.nav-bar {
    list-style-type: none;
    overflow: hidden;
}

.nav-bar a {
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
    padding: 20px;
    color: #312406;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}    

.nav-bar a:hover {
    background-color: #312406;
    color: #C2C2C2;
    font-weight: bold;
}

a:hover {
    color: #E05263;
    text-decoration: none;
}

.active {
    background-color: rgb(172, 172, 172);
}

main {
    background-color: #FAFAD2;
}

.main-sections {
    margin: 1.5rem;
    padding: .5rem;
    background-color: rgb(238, 238, 238);
    font-family: 'Rajdhani', sans-serif;
}

.main-sections img {
    width:100%;
    height: auto;
}

#first-section img {
    width:100%;
    height: auto;
}

#first-section {
    position: relative;
}

#summary {
    position: absolute;
    top: 25px;
    left: 25px;
    padding: 1.5rem;
    box-shadow: 0 0 40px #111;
    opacity: .9;
    background-color: rgb(255, 255, 255);
}

#summary div:first-child {
    font-weight: bold;
    padding: 0 0 10px 0;
}

#second-section {
    display: none;
}

#third-section {
   padding: 20px;
   margin: 50px 20px 20px 20px;
}

#fourth-section {
    margin: 0;
    text-align: center;
    padding: 25px;
}

#fourth-section img {
    display: none;
}

footer {
    background-color: #F1D166;
    padding: 40px;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
}