h1,
h2,
p,
body {
  margin: 0;
  padding: 0;
}

header {
  background: #edf2f4;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .logo {
  width: 100px;
  height: auto;
}

.title {
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: "Abel", sans-serif;
  font-size: 1.8em;
  color: rgb(68, 65, 65);
  margin: 0 0 0 10px;
}

.motto {
  font-family: "Charmonman", cursive;
  font-size: 1em;
  color: rgb(116, 136, 133);
  margin: 3px 0px 20px 10px;
}

nav {
  margin: 0 auto;
  background-color: rgb(129, 151, 148);
}

.nav-bar {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.nav-bar li:first-child {
  display: block;
}

.nav-bar li {
  display: none;
}

.nav-bar a {
  display: block;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  font-size: 1.2em;
}

a:hover {
  background-color: rgb(68, 65, 65);
  transition: 0.4s;
  color: white;
}

a:active {
  background-color: rgb(212, 111, 111);
  transition: -2s;
}

a.current:link,
a.current:visited {
  color: white;
  background-color: rgb(54, 51, 51);
}

/*
html.home nav a[href="preston-5.html"],
html.preston nav a[href="preston-5.html"],
html.sodasprings nav a[href="#"],
html.fishhaven nav a[href="#"],
html.stormcenter nav a[href="#"],
html.gallery nav a[href="#"] {
    color: white;
    background-color: rgb(54, 51, 51);
}
*/

main section {
  padding: 40px;
  margin: 45px 0px;
  border: 10px;
  border-style: groove;
}

.herosec {
  margin: 10px auto;
  position: relative;
}

.hero {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

.title-sec {
    position: absolute;
    top: 1px;
    left: 1%;
    border: 1px solid #000;
    padding: 1rem 10rem;
    box-shadow: 0 0 3px #111;
    opacity: 10;
  }

.summary {
  position: absolute;
  top: 12%;
  left: 1%;
  border: 1px solid #000;
  padding: 1.5rem;
  box-shadow: 0 0 3px #111;
  opacity: 10;
}

footer {
  background: #edf2f4;
  font-family: "Abel", sans-serif;
  height: 100px;
  width: 100%;
  color: #495057;
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*Responsive Menu*/
.responsive li {
  display: block;
}
