* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav {
    background: #EDF2F4;
    height: 120px;
    width: 100%;
}

footer {
    background: #EDF2F4;
    font-family: 'Abel', sans-serif;
    height: 150px;
    width: 100%;
    color: #495057;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer a {
    padding: 4px;
    border-radius: 4px;
}


.title {
    line-height: 120px;
    padding: 0 80px;
    color: #495057;
    font-size: 2.8em;
    font-family: 'Sansita Swashed', cursive;
}

nav ul {
    float: right;
    margin-right: 80px;
}

nav ul li {
    display: inline-block;
    line-height: 120px;
    margin: 0 12px;
}

nav ul li a {
    font-size: 1.6em;
    padding: 20px;
    border-radius: 4px;
    color: #2B2D42;
    font-family: 'Dosis', sans-serif;
}

a:hover {
    background: #ef233c;
    transition: .6s;
    color: white;
    border-radius: 4px;
}

h1 {
    font-family: 'Dosis', sans-serif;
    color: #495057;
    font-size: 1.8em;
    font-weight: bold;
}

h2 {
    color:  #2B2D42;
    font-size: 2.8em;
    font-family: 'Abel', sans-serif;
}

p {
    font-family: 'Abel', sans-serif;
    color: black;
    font-size: 1.5em;
    text-align: justify;
}

.sheet {
    padding: 40px 500px 60px 80px;
}

.reference {
    font-family: 'Abel', sans-serif;
    color: #8d99ae;
    font-size: 1.5em;
}

#logo {
    width: 240px;
    padding: 20px;
}

/* Color Scheme */

#C0 {
    margin: 100px;
    position: static;
}
