@import url("https://fonts.googleapis.com/css?family=Cinzel|Unna&display=swap");
:root {
  --primary-color: #f0eee8;
  --secondary-color: #ffbf00;
  --accent1-color: #383838;
  --accent2-color: #d3d3d3;
  --heading-font: "Cinzel";
  --paragraph-font: "Unna", Serif, Arial;
}
html {
  background-color: var(--accent2-color);
}
body {
  max-width: 900px;
  margin: 0 auto;
  background-color: var(--primary-color);
  padding: 1em;
}
img {
  max-width: 100%;
}

.logo {
  width: 250px;
  border: 2px solid var(--accent1-color);
}

.main-image {
  width: 380px;
  height: auto;
  box-shadow: 5px 0 5px var(--accent1-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--accent1-color);
}
header {
  padding: 1em;
  text-align: center;
  color: var(--primary-color);
  background-color: var(--accent1-color);
}
header > h1 {
  color: var(--primary-color);
}
p {
  font-family: var(--paragraph-font);
  color: var(--accent1-color);
  padding: 1em;
}
.colors {
  width: 100%;
  min-width: 350px;
  margin: auto;
  text-align: center;
}
.colors th {
  background-color: #999;
}
.colors td {
  width: 25%;
  height: 3em;
}
.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2 {
  background-color: var(--accent2-color);
}
nav {
  background-color: var(--accent2-color);
  line-height: 1.6em;
  text-align: center;
  font-size: 1.2em;
}

li {
  flex: 1 1 auto;
}

nav > ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

nav a {
  padding: 14px;
  text-decoration: none;
  display: block;
}
nav a:link,
nav a:visited {
  color: var(--accent1-color);
}
nav a:hover {
  color: var(--accent2-color);
  background-color: var(--accent1-color);
}

footer {
  background-color: var(--accent1-color);
  color: var(--primary-color);
  bottom: 0;
  left: 0;
  right: 0;
  padding: 24px;
}
