@import url("https://fonts.googleapis.com/css?family=Cinzel|Unna&display=swap");
:root {
  --primary-color: #f0eee8;
  --secondary-color: #ffbf00;
  --accent1-color: #383838;
  --accent2-color: #d3d3d3;
  --extra: #7094ad;
  --heading-font: "Cinzel";
  --paragraph-font: "Unna", Serif, Arial;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--accent1-color);
}

p {
  font-family: var(--paragraph-font);
  color: var(--accent1-color);
  font-size: 1rem;
  padding: 1em;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--primary-color);
  font-size: 12px;
  margin: 0;
  padding: 0;
}

header {
  color: var(--accent1-color);
  background-color: var(--primary-color);
}

.title h1 {
  font-size: 2.5rem;
  text-shadow: 0 0 1px var(--accent1-colors);
  font-family: var(--heading-font);
  grid-column: 1 / 2;
  text-align: center;
  padding: 16px 0;
}

.nav {
  background-color: var(--accent2-color);
  font-size: 1.8em;
  width: 100%;
}

ul {
  list-style-type: none;
  overflow: hidden;
  display: flex;
  padding: 0;
  margin: 0;
}

li {
  flex: 1 1 auto;
}

li a {
  display: block;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  transition-duration: 0.4s;
}

nav a:link,
nav a:visited {
  color: var(--accent1-color);
}
nav a:hover {
  color: var(--accent2-color);
  background-color: var(--accent1-color);
}

img {
  max-width: 100%;
}

div.main-declaration {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 59px;
}

div.image-dec img {
  border: 2px solid var(--accent1-color);
  grid-column: 2 / 3;
  width: 550px;
}

div.text-dec p {
  text-align: justify;
  font-size: 1.8em;
  grid-column: 1 / 3;
}

.invitation {
  background-color: var(--extra);
  padding: 20px;
}

.invitation h2 {
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  color: var(--accent1-color);
  margin-top: 60px;
}

.invitation img {
  width: 170px;
  box-shadow: 0 0 10px var(--accent1-color);
  overflow: hidden;
  border-radius: 8px;
  display:block;
  margin:0 auto 0 auto;
  margin-bottom: 60px;
}


.posts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
  padding: 56px 40px;
  padding-bottom: 100px;
}

.card {
  text-align: justify;
  font-size: 1.2rem;
  width: 100%;
  border: 2px solid var(--accent1-color);
  background-color: var(--primary-color);
  overflow: hidden;
  padding-bottom: 20px;
}

.card p,
h4 {
  font-family: var(--paragraph-font);
  padding: 0 25px;
}

.card button {
  background-color: var(--accent1-color);
  color: var(--accent2-color);
  width: 100%;
  padding: 18px 25px;
  font-size: 0.8em;
  text-align: left;
  border: none;
  transition-duration: 0.4s;
  cursor: pointer;
  opacity: 0.6;
}

.card button:hover {
  background-color: var(--accent2-color);
  color: var(--accent1-color);
}


/*Contact Webpage*/

.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  margin: 56px;
}

.contact-title {
  text-align: left;
  grid-column: 1 / 2;
}

.form {
  text-align: left;
  grid-column: 1 / 2;
  font-size: 1.2rem;
  font-family: var(--paragraph-font);
}

.fields {
  text-align: left;
  grid-column: 2 / 3;
  font-size: 1.2rem;
  font-family: var(--paragraph-font);
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-size: 1rem;
  font-family: var(--primary-color);
}

.fields button {
  margin-left: 0.2rem;
  background-color: var(--accent2-color);
  font-size: 0.8em;
  color: var(--accent1-color);
  padding: 14px;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

#main-footer {
  background-color: var(--accent1-color);
  color: var(--primary-color);
  bottom: 0;
  width: 100%;
  font-size: 1.4em;
  padding: 16px 0;
  position: relative;
}

a:link,
a:visited {
  color: var(--secondary-color);
}

a:hover {
  color: var(--extra);
}
