@import url('https://fonts.googleapis.com/css?family=Cinzel|Unna&display=swap');
:root {
  --primary-color: #F0EEE8;
  --secondary-color: #FFBF00;
  --accent1-color: #383838;
  --accent2-color: #D3D3D3;
  --heading-font: "Cinzel";
  --paragraph-font: "Unna", Serif, Arial;
}
html {
  background-color: var(--accent2-color);
}
body {
  background-color: var(--primary-color);
}

header {
  padding: 2rem;
  text-align: center;
  color: var(--accent1-color);
  background-color: var(--primary-color);
}

.title {
  font-size: 1rem;
  text-shadow: 0 0 10px var(--accent1-colors);
  font-family: var(--heading-font);
  padding-bottom: 10px;
}

.nav {
  background-color: var(--accent2-color);
  font-size: 1.2em;
  border: 1.5px solid var(--accent1-color);
  box-shadow: 0 0 1px var(--accent1-color);
}

ul {
  list-style-type: none;
  overflow: hidden;
  display: flex;
  padding: 0;
  margin: 0;
}

li {
  flex: 1 1 auto;
}

li a {
  display: block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

nav a:link,
nav a:visited {
  color: var(--accent1-color);
}
nav a:hover {
  color: var(--accent2-color);
  background-color: var(--accent1-color);
}

img {
  max-width: 100%;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--accent1-color);
}

p {
  font-family: var(--paragraph-font);
  color: var(--accent1-color);
  padding: 1em;
}

.main-declaration {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0;
}

.image-dec  {
  width: 100%;
  height: auto;
  box-shadow: 0 0 10px var(--accent1-color);
  display: flex;
  grid-column: 1 / 6;
}

.text-dec {
  text-align: justify;
  font-size: 1.5rem;
  position: absolute;
  padding: 0 20px 0 570px;
  margin: 0 80px;

}