@import url('https://fonts.googleapis.com/css?family=Cinzel|Unna&display=swap');
:root {
  --primary-color: #F0EEE8;
  --secondary-color: #FFBF00;
  --accent1-color: #383838;
  --accent2-color: #D3D3D3;
  --heading-font: "Cinzel";
  --paragraph-font: "Unna", Serif, Arial;
}

h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--accent1-color);
}

p {
  font-family: var(--paragraph-font);
  color: var(--accent1-color);
  font-size: 1rem;
  padding: 1em;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--primary-color);
  font-size: 12px;
}

header {
  color: var(--accent1-color);
  background-color: var(--primary-color);
}

div.head {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 20px 32px;
}

div.banner-box img {
  grid-column: 2 / 3;
  padding-top: 20px;
}

div.title h1{
  font-size: 2rem;
  text-shadow: 0 0 1px var(--accent1-colors);
  font-family: var(--heading-font);
  grid-column: 1 / 2;
  text-align: center;
}

.nav {
  background-color: var(--accent2-color);
  font-size: 1.8em;
  border: 1.5px solid var(--accent1-color);
  box-shadow: 0 0 3px var(--accent1-color);
  margin: 20px 32px;
}

ul {
  list-style-type: none;
  overflow: hidden;
  display: flex;
  padding: 0;
  margin: 0;
}

li {
  flex: 1 1 auto;
}

li a {
  display: block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

nav a:link,
nav a:visited {
  color: var(--accent1-color);
}
nav a:hover {
  color: var(--accent2-color);
  background-color: var(--accent1-color);
}

img {
  max-width: 100%;
}

div.main-declaration {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 32px;
}

div.image-dec img {
  border: 2px solid var(--accent1-color);
  grid-column: 2 / 3;
  width: 550px;
}

div.text-dec p {
  text-align: justify;
  font-size: 1.8em;
  grid-column: 1 / 3;
}

.posts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card {
  text-align: justify;
  font-size: 1.2rem;
  width: 240px;
  border: 1.5px solid var(--accent1-color);
  background-color: var(--primary-color);
  overflow: hidden;
  margin: 2.2rem;
}

.card p, h4 {
  font-family: var(--paragraph-font);
  padding: 0 25px;
}

.topic {
  border-radius: 0 5px 5px 0; padding: 0.5rem;
  border: 1px solid var(--accent1-color);;
  background-color: var(--accent1-color);;
  color: var(--primary-color);
  width: 8rem;
}

.posts footer {
  padding: 0 20px 20px 20px;
}

/* Footer */

.foot {
  background-color: var(--accent2-color);
  color: var(--accent1-color);
  font-family: var(--paragraph-font);
  border: 2px solid var(--accent1-color);
  list-style-type: none;
  font-size: 1.2rem;
  padding: 11px;
  margin: 20px 32px 20px 32px;
  display: flex;
  overflow: hidden;
}

.branch {
  width: 40px;
  height: 25px;
  margin-left: 15px;
  margin-right: 15px;
}

.plan a:link,
.plan a:visited {
  color: var(--accent1-color);
}
.plan a:hover {
  color: var(--accent2-color);
  background-color: var(--accent1-color);
  padding: 20px;
}

/*Contact Webpage*/

.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  margin: 32px;
}

.contact-title {
  text-align: left;
  grid-column: 1 / 2;
}

.form {
  text-align: left;
  grid-column: 1 / 2;
  font-size: 1.2rem;
  font-family: var(--paragraph-font);
}

.fields {
  text-align: left;
  grid-column: 2 / 3;
  font-size: 1.2rem;
  font-family: var(--paragraph-font);
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-size: 1rem;
  font-family: var(--primary-color);
}

input[type=submit] {
  background-color: var(--accent1-color);
  color: var(--secondary-color);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-family: var(--paragraph-font);
}

input[type=submit]:hover {
  background-color: var(--primary-color);
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

#feedback { 
  margin: 5rem 10rem;
  border: 2px solid var(--accent1-color);
  background-color: var(--accent1-color);
  padding: 1rem;
  display: none;
  font-size: 1.6em;
  color: var(--accent2-color);
 }